<section
  class="py-5 w-screen h-screen flex flex-col items-center justify-center"
>
  <img src="/images/penpal-logo.png" width="200" height="200" />
  <article class="my-5 py-5">
    <h1 class="text-8xl font-bolder text-on-primary">Penpal</h1>
  </article>
  <article class="my-5">
    <h2 class="text-2xl">
      Améliorez votre anglais facilement en chattant avec un correspondant AI !
    </h2>
  </article>
  <article class="my-5">
    <a routerLink="/chat" matFab extended>
      <span>Essayer maintenant</span>
      <mat-icon>open_in_new</mat-icon>
    </a>
  </article>
</section>
