<aside class="nav-sidebar">
  <div class="sidebar-content">
    <section class="sidebar-header">
      <div class="flex items-center gap-2">
        <mat-icon
          aria-hidden="false"
          aria-label="chat icon"
          fontIcon="chat"
        ></mat-icon>
        <span>Chats</span>
      </div>
      <button matMiniFab color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </section>
    <section class="sidebar-body">
      <mat-list role="list">
        @for (item of conversations(); track item._id) {
        <mat-list-item
          role="listitem"
          class="conversation-item"
          [style]="
            activeConversation() == item._id
              ? 'background-color: var(--mat-sys-secondary);'
              : ''
          "
        >
          <div
            (click)="onConversationChange(item._id)"
            class="w-full cursor-pointer flex items-center justify-between"
          >
            <div class="flex items-center gap-3">
              <mat-icon fontIcon="face" />
              <div class="flex flex-col items-start justify-start">
                <span>{{ item.character.name }}</span>
                <span class="conversation-item-city">
                  {{ item.character.city }}
                </span>
              </div>
            </div>
            <mat-icon fontIcon="chevron_right" />
          </div>
        </mat-list-item>
        } @empty {
        <mat-list-item role="listitem">Aucune conversation</mat-list-item>
        <button matButton="filled">
          <span>Nouvelle</span>
          <mat-icon fontIcon="add"></mat-icon>
        </button>
        }
      </mat-list>
    </section>
  </div>
</aside>
