<div class="w-screen h-screen">
  @if(isLoading) {
  <div class="flex justify-center items-center min-h-screen">
    <app-loader [diameter]="48" />
  </div>
  } @else {
  <div>
    <app-sidebar [activeConversation]="activeConversation"></app-sidebar>
    <section class="main-content">
      <div class="content-wrapper">
        <app-chatbox
          [activeConversation]="activeConversation"
          [isLoading]="isMessagesLoading"
          [messages]="messages"
        ></app-chatbox>
        <app-textbar
          [activeConversation]="activeConversation"
          [messages]="messages"
        ></app-textbar>
      </div>
    </section>
  </div>
  }
</div>
