<div class="w-screen h-screen">
  @if(isLoading) {
  <div class="flex justify-center items-center min-h-screen">
    <app-loader [diameter]="48" />
  </div>
  } @else {
  <div>
    <app-sidebar
      [activeConversation]="activeConversation"
      [characterName]="characterName"
    />
    <section class="main-content">
      <div class="content-wrapper">
        <app-chatbox
          [activeConversation]="activeConversation"
          [isLoading]="isMessagesLoading"
          [messages]="messages"
          [isGeneratingAnswer]="isGeneratingAnswer"
          [characterName]="characterName"
        />
        <app-textbar
          [activeConversation]="activeConversation"
          [messages]="messages"
          [isGeneratingAnswer]="isGeneratingAnswer"
        />
      </div>
    </section>
  </div>
  }
</div>
