<div class="min-w-screen min-h-screen">
  @if(isLoading) {
  <div class="flex justify-center items-center min-h-screen">
    <app-loader [diameter]="48" />
  </div>
  } @else {
  <div>
    <app-sidebar [activeConversation]="activeConversation"></app-sidebar>
    <section class="main-content">
      <div style="height: 88%">
        <app-chatbox [activeConversation]="activeConversation"></app-chatbox>
      </div>
      <div style="height: 12%">
        <app-textbar [activeConversation]="activeConversation"></app-textbar>
      </div>
    </section>
  </div>
  }
</div>
