**/*/.terraform
*/*.tfstate
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.tfplan.*
*.tfstate.backup
*.tfstate.backup.*
*.tfstate.lock.info
*.tfstate.lock.info.*
*.tfignore
*.terraformrc
*.terraformrc.*
*.terraform-version
*.terraform-version.*
*.terraform.d
*.terraform.d.*
*.terraform/plugins
*.terraform/plugins/*
*.terraform/modules
*.terraform/modules/*
*.terraform/environment
*.terraform/environment.*
*.terraform/terraform.tfstate
*.terraform/terraform.tfstate.*
**/*/.terraform.lock.hcl