.chat-icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
  padding-block: 24px;
}

.chat-container {
  overflow: hidden;
  height: 80vh;
  width: 100%;
  margin-block: 2rem;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;

  max-height: 80vh;
  width: 100%;
  position: relative;
  gap: 1rem;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none; /* Masque la scrollbar */
  }

  scrollbar-width: none;

  -ms-overflow-style: none;
}

.chat-bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 20px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 1.4;
  word-wrap: break-word;
}

.chat-bubble.receiver {
  background-color: #e5e5ea;
  color: #000;
  align-self: flex-start;
  margin-right: auto;
  border-bottom-left-radius: 5px;
}

.chat-bubble.receiver::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -7px;
  width: 14px;
  height: 14px;
  background-color: #e5e5ea;
  border-bottom-right-radius: 8px;
  transform: rotate(45deg);
  z-index: -1;
}

.chat-bubble.sender {
  background-color: #0b93f6;
  color: #fff;
  align-self: flex-end;
  border-bottom-right-radius: 5px;
}

.chat-bubble.sender::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -7px;
  width: 14px;
  height: 14px;
  background-color: #0b93f6;
  border-bottom-left-radius: 8px;
  transform: rotate(-45deg);
  z-index: -1;
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat-bubble.empty {
  padding: 0;
  min-height: 20px;
}

.chat-subtitle {
  font-size: 11px;
  color: #8e8e93;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}
